@media only screen and (min-width: 32.5em) {
  body {
    font-size: 1.1em;
  }

  header,
  main,
  footer {
    max-width: 1400px;
  }

  footer {
    font-weight: 600;
    align-items: center;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  main {
    border: 1px solid rgba(255, 0, 184, 1);
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }
}
