@media only screen and (min-width: 800px) {
  body {
    font-size: 1.1em;
  }

  header,
  main,
  footer {
    max-width: 700px;
  }

  footer {
    font-weight: 600;
    align-items: center;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  main {
    border: 1px solid rgba(255, 0, 184, 1);
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
  }

  .proximity-law {
    grid-area: 1 / 1 / 2 / 2;
  }
  .alignment-law {
    grid-area: 1 / 2 / 2 / 3;
  }
  .repetition-law {
    grid-area: 2 / 1 / 3 / 3;
  }

  .addPadding {
    padding-bottom: 11em;
  }

}
