:root {
  --font-roboto: "Roboto Condensed", Sans-Serif;
  --font-cabin: "Cabin", Sans-Serif;
  --color-blue-09193b: #09193b;
  --color-blue-526182: #526182;
  --color-grey-8691a7: #8691a7;
  --color-grey-cbd3e3: #cbd3e3;
  --color-pink-f1a2d9: #f1a2d9;
  --color-light-blue-4aa3f8: #4aa3f8;
  --color-green-84fcc3: #84fcc3;
  --color-orange-ed6d66: #ed6d66;
  --backgound-transparent-0-4: rgba(255, 255, 255, 0.8);
  --gradient-primary: linear-gradient(
    166deg,
    rgba(132, 252, 195, 1) 0%,
    rgba(74, 163, 248, 1) 40%,
    rgba(241, 162, 217, 1) 66%,
    rgba(237, 109, 102, 1) 100%
  );
  --border-radius-3px: 3px;
}

* {
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

body {
  background-image: var(--gradient-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

nav ul li {
  width: 100%;
}

nav {
  width: 45%;
  display: none;
}

nav ul,
#hamburger-nav {
  text-align: center;
  display: none;
  list-style-type: none;
  padding: 0;
  border-top: 1px solid var(--color-blue-09193b);;
}

nav ul li a,
#hamburger-nav a {
  color: var(--color-blue-09193b);;
  display: block;
  text-decoration: none;
  font-weight: bolder;
  padding: 1rem;
  border-bottom: 1px solid var(--color-blue-09193b);;
  transition: 0.5s;
}

header,
footer {
  padding-bottom: 1em;
  border-radius: 4px;
  margin: 0 auto;
}

header {
  color: var(--color-blue-09193b);
  background: rgba(255, 255, 255, 0.7);
  /* background: var(--gradient-primary) */
  border: 1px solid white;
}

footer {
  background-image: linear-gradient(
    -225deg,
    rgb(80, 179, 67) 0%,
    rgb(32, 173, 131) 48%,
    blue 100%
  );
  margin-top: 0.7em;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 1em;
}

header button {
  text-align: center;
  align-items: center;
  padding-top: auto;
  padding-bottom: auto;
  width: 40px;
  height: 40px;
  color: var(--color-blue-09193b);
  font-size: 2rem;
  background: var(--backgound);
  border: 1px solid white;
  border-radius: var(--border-radius-3px);
}

#hamburger-nav {
  margin: 1em 2rem 1rem 2rem;
}

#hamburger-nav.open {
  display: block;
}

#hamburger-button span:nth-child(1) {
  display: block;
}
#hamburger-button span:nth-child(2) {
  display: none;
}

#hamburger-button.open span:nth-child(1) {
  display: none;
}
#hamburger-button.open span:nth-child(2) {
  display: block;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.logo-home {
  max-width: 50px;
}

.wrapper{
  position: absolute;
}

.wrapper h3,
.wrapper p,
.wrapper a,
.wrapper img {
  position: relative;
}

.wrapper h3 {
  top: 50px;
  left: 50px;
}

.wrapper p {
  top: 100px;
  left: 100px;
}

.wrapper a {
  top: 150px;
  left: 150px;
}
