body {
  background-color: #6290c8;
}

h1,
h2,
h3,
h4, 
h5 {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
}

p,
a,
li,
button {
  font-family: "Inter", sans-serif;
  margin: 0;
  line-height: 1.5rem;
}

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #cad5e2;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: auto 12rem auto auto 1fr;
}

nav ul li a,
#hamburger-nav a {
  display: block;
  /* background-color: #1F487E; */
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #376996;
}

nav ul li a:hover,
#hamburger-nav a:hover {
  background-color: #376996;
}

nav ul li {
  width: 100%;
}

nav {
  width: 45%;
  display: none;
}

nav ul,
#hamburger-nav {
  text-align: center;
  display: none;
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #376996;
}

/* main {
  background-color: #cad5e2;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
} */

header,
footer {
  background-color: #1d3461;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
header p,
footer p,
.footer-info a {
  color: white;
}

h1,
h2 {
  text-align: left;
}

h1 {
  font-size: 1.1em;
  margin-top: 2rem;
}

h2 {
  font-size: 0.8em;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.75rem;
}

.footer-info a:visited {
  color: #6290c8;
}

header div {
  margin-bottom: 1rem;
  margin: 0 1rem 0 1rem;
}

header div {
  display: flex;
  justify-content: space-between;
}

.general-info {
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

footer h4 {
  color: white;
}

header button {
  color: white;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  background-color: #1f487e;
  border: 1px solid #376996;
  width: 3rem;
  height: 3rem;
}

header button:hover {
  background-color: #1d3461;
}

main section,
main section div.spotlight {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

main section div {
  height: 10rem;
}

section h3 {
  font-style: italic;
  font-weight: 200;
}

.footer-headings {
  padding: 1rem;
}

.spotlights {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#hamburger-nav {
  margin: 0 2rem 1rem 2rem;
}

#hamburger-nav.open {
  display: block;
}

#hamburger-button span:nth-child(1) {
  display: block;
}
#hamburger-button span:nth-child(2) {
  display: none;
}

#hamburger-button.open span:nth-child(1) {
  display: none;
}
#hamburger-button.open span:nth-child(2) {
  display: block;
}

.logo img {
  width: 5rem;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
}

.current-date {
  background-color: #1f487e;
  padding: 1rem;
  border: 1px solid #376996;
  text-align: center;
  margin: 0 2rem 0 2rem;
}

.social {
  margin-top: 2rem;
}

.social img {
  width: 1.5rem;
}

.social a {
  margin: 0.3rem;
}

.small-copyright {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
  border-top: 1px solid #376996;
}

.medium-copyright {
  display: none;
  text-align: center;
  padding-top: 0.5rem;
  border-top: 1px solid #376996;
}

.footer-info {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.99rem;
}

.footer-logo {
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-headings {
  display: block;
}

.footer-logo img {
  width: 12.5rem;
}

main section div.spotlight img {
  width: 40%;
  margin-top: -0.5rem;
}

main section div.spotlight p {
  font-style: italic;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

main section div.spotlight p.spotlight-contact {
  font-size: 0.9rem;
  font-style: normal;
  border-top: 1px solid black;
  margin: 0;
}

#meet-greet-message {
  display: none;
  text-align: center;
  padding: 1rem;
  background-color: #1F487E;
  border-bottom: 1px solid #376996;
}

.action-call {
  position: relative;
  padding: 0;
}

.action-call h3, .action-call a {
  position: absolute;
}

.action-call h3 {
  top: 1rem;
  left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #1F487E;
  outline: 1px solid #376996;
  color: white;
}

.action-call a {
  bottom: 1rem;
right: 1rem;
  margin-left: 1rem;
}

.action-call a, .join a {
  display: block;
  padding: 1rem;
  background-color: #1F487E;
  outline: 1px solid #376996;
  color: white;
  text-decoration: none;
}

.action-call a:hover, .join a:hover {
  background-color: #376996;
}

.action-call img {
  width: 100%;
  height: 100%;
}

.join a h3 {
  margin: 0;
}

.join div {
  margin-top: 0.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.event p:nth-child(2) {
  font-weight: bold;
  margin-top: -2rem;
}

.event a {
  color: #376996;
}

.event a:visited {
  color: #1D3461;
}

.weather {
  padding-right: 1.5rem;
  align-items: center;
  margin: 0 auto;
}

.weather img {
  width: 35%;
}

.weather-sun {
  text-align: right;
  font-size: 1.5rem;
  line-height: 2.75rem;
  margin-top: 0.5rem;
}

.weather-temp {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.weather-wind {
  padding-top: 0.5rem;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}