* {
  box-sizing: border-box;
}

body {
  background-color: #6290c8;
}

h1,
h2,
h3,
h5 {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  padding-left: 1em;
}

h4 {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
}

p,
a,
li,
button {
  font-family: "Inter", sans-serif;
  margin: 0;
  line-height: 1.5rem;
}

.mainHome {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #cad5e2;
  display: grid;
  gap: 0.5rem;
  /* grid-template-rows: auto 12rem auto auto 1fr; */
}

nav ul li a,
#hamburger-nav a {
  display: block;
  /* background-color: #1F487E; */
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #376996;
}

nav ul li a:hover,
#hamburger-nav a:hover {
  background-color: #376996;
}

nav ul li {
  width: 100%;
}

nav {
  width: 45%;
  display: none;
}

nav ul,
#hamburger-nav {
  text-align: center;
  display: none;
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #376996;
}

header,
footer {
  max-width: 1080px;
  margin: auto;
}

header,
footer {
  background-color: #1d3461;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
header p,
footer p,
.footer-info a {
  color: white;
}

.active {
  background-color: #376996;
}

h1,
h2 {
  text-align: left;
}

h1 {
  font-size: 1.1em;
  margin-top: 2rem;
}

h2 {
  font-size: 0.8em;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.75rem;
}

.footer-info a:visited {
  color: #6290c8;
}

header div {
  margin-bottom: 1rem;
  margin: 0 1rem 0 1rem;
}

header div {
  display: flex;
  justify-content: space-between;
}

div a img {
  max-width: 47px;
}

.general-info {
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

footer h4 {
  color: white;
}

header button {
  color: white;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  background-color: #1f487e;
  border: 1px solid #376996;
  width: 3rem;
  height: 3rem;
}

header button:hover {
  background-color: #1d3461;
}

main section,
main section div.spotlight {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

main section div {
  height: 10rem;
}

section h3 {
  font-style: italic;
  font-weight: 200;
}

.footer-headings {
  padding: 1rem;
}

.spotlights {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#hamburger-nav {
  margin: 0 2rem 1rem 2rem;
}

#hamburger-nav.open {
  display: block;
}

#hamburger-button span:nth-child(1) {
  display: block;
}
#hamburger-button span:nth-child(2) {
  display: none;
}

#hamburger-button.open span:nth-child(1) {
  display: none;
}
#hamburger-button.open span:nth-child(2) {
  display: block;
}

.logo img {
  width: 5rem;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
}

.current-date {
  background-color: #1f487e;
  padding: 1rem;
  border: 1px solid #376996;
  text-align: center;
  margin: 0 2rem 0 2rem;
}

.social {
  margin-top: 2rem;
}

.social img {
  width: 1.5rem;
}

.social a {
  margin: 0.3rem;
}

.small-copyright {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
  border-top: 1px solid #376996;
}

.medium-copyright {
  display: none;
  text-align: center;
  padding-top: 0.5rem;
  border-top: 1px solid #376996;
}

.footer-info {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.99rem;
}

.footer-logo {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1rem;
}

.footer-headings {
  display: block;
}

.footer-logo img {
  max-width: 104px;
}

main section div.spotlight img {
  width: 40%;
  margin-top: -0.5rem;
}

main section div.spotlight p {
  font-style: italic;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

main section div.spotlight p.spotlight-contact {
  font-size: 0.9rem;
  font-style: normal;
  border-top: 1px solid black;
  margin: 0;
}

#meet-greet-message {
  display: none;
  text-align: center;
  padding: 1rem;
  background-color: #1f487e;
  border-bottom: 1px solid #376996;
}

.action-call {
  position: relative;
  padding: 0;
}

.action-call h3,
.action-call a {
  position: absolute;
}

.action-call h3 {
  top: 1rem;
  left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #1f487e;
  outline: 1px solid #376996;
  color: white;
}

.action-call a {
  bottom: 1rem;
  right: 1rem;
  margin-left: 1rem;
}

.action-call a,
.join a {
  display: block;
  padding: 1rem;
  background-color: #1f487e;
  outline: 1px solid #376996;
  color: white;
  text-decoration: none;
}

.action-call a:hover,
.join a:hover {
  background-color: #376996;
}

.action-call img {
  width: 100%;
  height: 100%;
}

.join a h3 {
  margin: 0;
}

.join div {
  margin-top: 0.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.event p:nth-child(2) {
  font-weight: bold;
  margin-top: -2rem;
}

.event a {
  color: #376996;
}

.event a:visited {
  color: #1d3461;
}

.weather {
  padding-right: 1.5rem;
  align-items: center;
  margin: 0 auto;
}

.weather img {
  width: 35%;
}

.weather-sun {
  text-align: right;
  font-size: 1.5rem;
  line-height: 2.75rem;
  margin-top: 0.5rem;
}

.weather-temp {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.weather-wind {
  padding-top: 0.5rem;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ######################################################## */
/*                      DISCOVER PAGE                       */
/* ######################################################## */
.mainDiscover {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #cad5e2;
}

.discover-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  grid-gap: 30px;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  text-align: left;
}

.div7,
.div8,
.div9,
.div10,
.div11,
.div12 {
  text-align: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  width: 650px;
}
.div2 {
  grid-area: 2 / 1 / 3 / 3;
}
.div3 {
  grid-area: 3 / 1 / 4 / 3;
}
.div4 {
  grid-area: 4 / 1 / 5 / 3;
}
.div5 {
  grid-area: 5 / 1 / 6 / 3;
}
.div6 {
  grid-area: 6 / 1 / 7 / 3;
}
.div7 {
  grid-area: 1 / 3 / 2 / 4;
  width: 350px;
}
.div8 {
  grid-area: 2 / 3 / 3 / 4;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
}
.div10 {
  grid-area: 4 / 3 / 5 / 4;
}
.div11 {
  grid-area: 5 / 3 / 6 / 4;
}
.div12 {
  grid-area: 6 / 3 / 7 / 4;
}

.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: column;
}

.redReminder {
  color: red;
  font-weight: bolder;
}

.formContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #376996;
  overflow: auto;
  flex-direction: column;
}

.mainJoin {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border: 3px solid #376996;
  margin-bottom: 1em;
  box-shadow: 3px 3px 10px #363636;
}

.joinH1 {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #376996;
  grid-area: 1 / 1 / 2 / 3;
}

.formGrid {
  display: block;
}

.legend {
  font-family: "Playfair Display", sans-serif;
  color: #376996;
  font-weight: bolder;
  background-color: white;
  padding: 0.75em;
  box-shadow: 2px 2px 7px #363636;
  margin: 0.75em;
  border: 1px solid #376996;
  width: 90%;
}

form {
  width: 100%;
}

form fieldset {
  margin: 10px;
  border: 1px solid #32292f;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #363636;
}

fieldset {
  width: 95%;
  padding: 1em;
}

form label {
  display: block;
  color: #32292f;
  font-family: "Playfair Display", sans-serif;
  font-size: 0.9em;
  margin: 1em;
}

input {
  display: block;
  font-size: 1rem;
  border: 1px solid #32292f;
  border-radius: 4px;
  padding: 0.75rem;
  color: black;
  width: 100%;
  max-width: 45rem;
  background-color: #f2f2f2;
}

textarea {
  margin-left: 1em;
  width: 94%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.no100 {
  display: inline-block;
  width: fit-content;
  margin-right: 1em;
}

.subs {
  padding: 1em;
  border: 1px solid #376996;
}

:checked + span {
  font-weight: bold;
  color: #376996;
}

.mySubmit {
  align-self: center;
  width: auto;
  border: 1px solid #376996;
  color: #376996;
  font-family: "Playfair Display", sans-serif;
  background-color: white;
  margin: 1em;
}

.mySubmit:hover {
  border: 1px solid white;
  color: white;
  background-color: #376996;
}

input:required {
  border-left: red solid 3px;
}

input:valid {
  border-left: green solid 3px;
}

.memberships {
  background-color: #376996;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: column;
  margin-top: 1em;
}

.memberships div {
  border: 1px solid white;
  margin: 1em;
  text-align: left;
  height: min-content;
}

.memberships div h2,
.memberships div h3,
.memberships div p {
  padding: 0.5em;
}

.memberships div h2 {
  background-color: white;
  color: #376996;
  font-weight: bolder;
  margin-left: 0;
}

.tyContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  flex-direction: column;
}

.thankyouH1 {
  margin: 2em;
  padding: 2em;
  border: 2px solid white;
  background-color: #376996;
}

.thankyouP {
  font-size: large;
  text-align: center;
  background-color: white;
  border: 1px solid #376996;
  margin: 2em;
  padding: 2em;
}
